.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 176px;
  height: 44px;
  background: #101010;
  border: 1px solid #0d1e4b;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 11px;
  margin-left: 55px;
  margin-bottom: 20px;
  margin-top: 20px;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}