.users-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  border-top: none;

  &__item {
    display: grid;
    grid-template-columns: 55px 1fr 60px;
    grid-template-rows: 65px;
    grid-gap: 1px;
    margin-bottom: 25px;

    div {
      box-shadow: 0 0 0 1px;
    }

    .item__link {
      display: flex;
      align-items: center;
      font-family: "Alegreya Sans SC";
      font-weight: 500;
      font-size: 2.2rem;
      line-height: 40px;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      box-shadow: 0 0 0 1px;
      padding: 0 18px;
    }
  }
}
