.detailed {
  border: 1px solid #000000;
  margin-bottom: 30px;
  padding: 0 6% 0 5%;

  &__post {
    margin-top: 20px;
    border: 1px solid #000000;
    padding: 18px;
    margin-bottom: 20px;

    .detailed__title {
      font-family: "Alegreya Sans SC";
      font-size: 2.2rem;
      line-height: 1.9rem;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  &__comments {
    border: 1px solid #000000;
    padding: 18px;
    margin-bottom: 20px;

    .comments__title {
      font-family: "Alegreya Sans SC";
      font-size: 2rem;
    }
  }
}
